// Colors
$primary: #0099DA;
$primary_hover: #0068AA;

$grey_100: #1D1F20;
$grey_80: #2F3538;
$grey_60: #808890;
$grey_40: #BDC3C6;
$grey_20: #DEE1E3;
$grey: #F3F5F6;

$bg_blue: $primary;
$bg_grey: $grey;
$bg_white: #FFFFFF;
$bg_power_grey: #DEE1E3;
$bg_power_dark: #2F3538;

$orange: #FAAA00;
$red: #C82E2D;


$font: 'vw_text', sans-serif;
$font_head: 'vw_head', sans-serif;


// Layout
$header_mobile_h: 50px;
$header_w:        96px;

$radius: 4px;


// Breakpoints
$breakpoint1: 320px;
$breakpoint2: 480px;
$breakpoint3: 768px;
$breakpoint4: 1024px;
$breakpoint5: 1281px;
$breakpoint6: 1486px;

$breakpoints: (
        's320':   ( max-width:  $breakpoint1 - 1 ),
        's480':   ( max-width:  $breakpoint2 - 1 ),
        's768':   ( max-width:  $breakpoint3 - 1 ),
        's1024':   ( max-width:  $breakpoint4 - 1 ),
        's1281':   ( max-width:  $breakpoint4 - 1 ),
        's1486':   ( max-width:  $breakpoint4 - 1 ),

        'b320':  ( min-width:  $breakpoint1 ),
        'b480':  ( min-width:  $breakpoint2 ),
        'b768':  ( min-width:  $breakpoint3 ),
        'b1024':  ( min-width:  $breakpoint4 ),
        'b1281':  ( min-width:  $breakpoint4 ),
        'b1486':  ( min-width:  $breakpoint4 )
);