.radiobtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  
  &__control {
    display: block;
    height: 30px;
    width: 30px;
    opacity: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  &__mask {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: #fff;
    border: 1px solid $grey_20;
    box-sizing: border-box;
  }
  &__control:checked + &__mask{
    background: $primary;
    border-color: $primary;
  }

  &__title {
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}