.input {
  display: inline-block;
  max-width: 100%;

  &__title {
    display: block;
    font-size: 16px;
    line-height: 25px;
  }
  
  &__field {
    font-size: 14px;
    line-height: 22px;
    border-radius: $radius;
    height: 42px;
    padding: 7px 15px;
    background: #fff;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid $grey_20;
    outline: none;
  }
}