a {
  @include link-color($primary, $primary_hover);
  text-decoration: none;
}

.page-wrapper {
  margin-top: 50px;

  @include breakpoint(b768) {
    margin-top: 0;
    margin-left: 96px;
  }
}


.layout-container {
  padding-left: 20px;
  padding-right: 20px;
  @include clear;

  @include breakpoint(b768) {
    padding-left: 20px;
    padding-right: 20px;
  }


  @include breakpoint(b1024) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include breakpoint(b1024) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include breakpoint(b1486) {
    padding-left: 80px;
    padding-right: 80px;
  }
}