@font-face {
  font-family: 'vw_head';
  src: url('../fonts/vwheadoffice-bold-webfont.woff2') format('woff2'),
  url('../fonts/vwheadoffice-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}




@font-face {
  font-family: 'vw_head';
  src: url('../fonts/vwheadoffice-regular-webfont.woff2') format('woff2'),
  url('../fonts/vwheadoffice-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'vw_text';
  src: url('../fonts/vwtextoffice-bold-webfont.woff2') format('woff2'),
  url('../fonts/vwtextoffice-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}




@font-face {
  font-family: 'vw_text';
  src: url('../fonts/vwtextoffice-regular-webfont.woff2') format('woff2'),
  url('../fonts/vwtextoffice-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



// Typo
body {
  color: $grey_80;
  font-family: $font;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  color: $grey_100;
  margin: 0 !important;
  font-family: $font_head;
  font-weight: bold;
}

// Headings

@mixin text-settings(
  $fz1: 30px, $fz2: 36px, $fz3: 45px, $fz4: 60px,
  $lh1: 33px, $lh2: 39px, $lh3: 48px, $lh4: 65px,
  $krn: -2.5px
) {
  font-size: $fz1;
  line-height: $lh1;
  letter-spacing: $krn;

  @include breakpoint(b320) {
    font-size: $fz2;
    line-height: $lh2;
  }
  @include breakpoint(b480) {
    font-size: $fz3;
    line-height: $lh3;
  }
  @include breakpoint(b768) {
    font-size: $fz4;
    line-height: $lh4;
  }
}

h1, .h1 {
  @include text-settings(
    30px, 36px, 45px, 60px,
    33px, 39px, 48px, 65px,
    -.04em
  );
  font-weight: 600;
}

h2, .h2 {
  @include text-settings(
    23px, 26px, 35px, 45px,
    27px, 30px, 40px, 50px,
    -.04em
  );
  font-weight: 600;
}

h3, .h3 {
  @include text-settings(
    21px, 21px, 21px, 28px,
    25px, 25px, 25px, 33px,
    -.04em
  );
  font-weight: 600;
}

h4, .h4 {
  @include text-settings(
    18px, 18px, 18px, 24px,
    22px, 22px, 22px, 29px,
    -.04em
  );
  font-weight: 600;
}

h5, .h5 {
  @include text-settings(
    16px, 16px, 16px, 18px,
    20px, 20px, 20px, 23px,
    -.04em
  );
  font-weight: 600;
}

// Global font styles
%b1 {
  @include text-settings(
    15px, 15px, 15px, 16px,
    23px, 23px, 23px, 25px,
    0px
  );
}

%b2 {
  @include text-settings(
    14px, 14px, 14px, 14px,
    22px, 22px, 22px, 22px,
    0px
  );
}

%b3 {
  @include text-settings(
    14px, 14px, 14px, 14px,
    22px, 22px, 22px, 22px,
    0px
  );
  color: $grey_60;
}

%b4 {
  @include text-settings(
    11px, 11px, 11px, 11px,
    16px, 16px, 16px, 16px,
    0px
  );
  color: $grey_60;
}


// Lists
ul, ol {
  margin: 0;
  padding: 0 1.1em;
}