.btn {
  border-radius: $radius;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  height: 42px;
  min-height: 42px;
  display: inline-block;
  padding: 5px 9px 9px;
  max-width: 280px;
  width: 100%;
  background: #FFF;
  border: 1px solid $grey_20;
  color: $primary;
  font-family: $font;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  overflow: hidden;

  &__text {
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  &_cta {
    background: $primary;
    border-color: $primary;
    color: #FFF;
  }

  &:hover {
    background: $primary_hover;
    border-color: $primary_hover;
    color: #FFF;
  }

  &.disabled {
    background: $grey_40;
    border-color: $grey_60;
    color: mix($grey_80, $grey_20);
  }

  @include breakpoint(b1024){
    max-width: 198px;
  }
}