// li
.vw_m502_btn {
  @include breakpoint(b768) {
    border-top: 1px solid $grey_20;
    min-height: 85px;
  }
}

.vw_m502_btn_icon {
  position: absolute;
  display: table;
  left: 0;
  height: 50px;

  @include breakpoint(b768) {
    height: 85px;
    width: 100%;
  }
}


// svg
.vw_m502_icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: $grey_60;

  .vw_m502_btn:hover & {
    fill: $primary;
  }

  &_wrapper {
    margin: 0 0 5px 0;
    height: 55px;

    @include breakpoint(b768) {
      height: 30px;
      display: inline-block;
      .vw_m502_sections & {
        width: 50px;
      }
    }
  }
}

// link label
.vw_m502_link_label {

  .vw_m502_btn:focus &,
  .vw_m502_btn:active & {
    color:  $primary;
  }
  @include breakpoint(b768) {
    display: block;
    text-align: center;
    margin: 0 10px;
  }
}
