include ../../components/svg/index

mixin nav-main__item(data)
    -
        link  = data[0]
        title = data[1]
        icon  = data[2]

    li.vw_m502_btn
        .vw_m502_btn_icon
            a(href=`${link}`)
                .vw_m502_icon_wrapper
                    +svg(icon)(class='vw_m502_icon')
                span.vw_m502_link_label
                    =title
