mixin logo
    a#vw_m501_logo.vw_logo_l(href='http://live-publish.vwcmsd5.volkswagen.de/ru.html', title='Главная страница Volkswagen')
        img#vw_m501_logo_img(src='resources/img/Logo_Volkswagen.png', alt='Volkswagen')
        //img#vw_m501_logo_img(src='resources/img/mobile_vw_logo.png', alt='Volkswagen')