#vw_m501_logo {
  margin: 9px 25px 9px 20px;
  display: inline-block;

  @include breakpoint(b768) {
    margin: 0;
    text-align: center;
    display: block;
    line-height: 95px;
  }

  img {
    max-width: 200px;
    max-height: 32px;

    @include breakpoint(b768) {
      max-width: $header_w;
      max-height: 100%;
      margin: 0 auto;
      vertical-align: middle;
    }
  }
}