extends ../_layout

include ../../components/button/index
include ../../components/input/index
include ../../components/checkbox/index
include ../../components/radio/index

block data
    -
        var data = {
            pageName: 'masterpage',
            pageTitle: 'masterpage',
            bodyClass: 'masterpage',
            hasOwnCss: true
        }

block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atelier-cave-light.min.css")
    .layout-container
        .js_ghostGridHolder
        // Headings
        .gridcontainer
            .grid_6
                h1 Header h1
                h2 Header h2
                h3 Header h3
                h4 Header h4
                h5 Header h5
            .grid_6
                .h1 Div .h1
                .h2 Div .h2
                .h3 Div .h3
                .h4 Div .h4
                .h5 Div .h5


        // Lists
        .gridcontainer
            .grid_12
                H2 Списки
            .grid_6
                ul
                    - for (var x = 1; x < 5; x++)
                        li= x
            .grid_6
                ol
                    - for (var x = 1; x < 5; x++)
                        li= x


        // Buttons
        .gridcontainer
            .grid_12
                H2.js_ Кнопки


            mixin makeBtns(tag)
                +btn(tag, tag + '.btn')(class='')&attributes(attributes)
                br
                br
                +btn(tag, tag + '.btn.btn_cta')(class='btn_cta')&attributes(attributes)
                br
                br
                +btn(tag, tag + '.btn.disabled')(class='disabled')&attributes(attributes)
                br
                br


            .grid_12.mb50.mt10
                b
                    | Использование:
                pre
                    code.jade
                        | +btn('a', 'Ссылочка')(class="btn_cta" href="#")  /(тег_кнопки, текст)(доп.класс, тип и другие атрибуты тега)/

                +btn('a', 'Ссылочка')(class='btn_cta' href="#")

            .grid_2
                +makeBtns('a')(href="#")
            .grid_2
                +makeBtns('span')
            .grid_2
                +makeBtns('div')
            .grid_2
                +makeBtns('button')
            .grid_2
                +makeBtns('input')(type="submit")

        // Forms
        .gridcontainer
            .grid_12
                h2.js_ Элементы формы
                b
                    | Использование:
                pre
                    code.jade
                        | +input('Заголовок','Ваше Имя')(type=text)  /(заголовок, плейсходер)(доп.класс, тип и другие атрибуты тега)/
                pre
                    code.jade
                        | +checkbox('Check me')  /(заголовок)(доп.класс, тип и другие атрибуты тега)/
                pre
                    code.jade
                        | +radiobtn('Check me')  /(заголовок)(доп.класс, тип и другие атрибуты тега)/

            .grid_3
                +input('Заголовок','Ваше Имя')(type=text)
                +input('&nbsp;','xjxj').hasicon(type=text)
            .grid_3
                +checkbox
                +checkbox('Check me')
            .grid_3
                +radiobtn(name='radio1')
                +radiobtn('Check me')(name='radio1')