#vw_m502 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_mobile_h;
  background: $grey_20;

  @include breakpoint(b768) {
    width: $header_w;
    height: 100vh;
    height: 100%;
  }
}