include ../../components/logo/index
include ../../components/nav-main__item/index

mixin nav-main(items)
    //- items = [
        ['#', 'title', 'icon'],
        ['#', 'title', 'icon']
        ]
    nav#vw_m502
        ul.vw_m502_sections
            li
                .vw_m502_btn_icon
                    +logo

            if items
                each item in items
                    +nav-main__item(item)