#vw_m502 {
  @include breakpoint(b768) {
    box-shadow: 5px -10px 20px rgba(0,0,0,0.1);
  }

  a {
    @include link-color($grey_60, $grey_100);
  }
}

// ul
.vw_m502_sections {
  @include ul_simple;
  background: $bg_white;
  height: $header_mobile_h;
  font-family: $font_head;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -.25px;

  @include breakpoint(b768) {
    height: 100%;
  }

  li {

  }

  // logo container
  li:first-child .vw_m502_btn_icon {
    @include breakpoint(b768) {
      display: block;
      height: auto;
      position: static;
      width: 100%;
    }
  }

  li:not(:first-child) a {
    @include breakpoint(b768) {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      min-height: 85px;
    }
  }
}
